// Breakpoints
$sm: rem(375px);
$md: rem(768px);
$lg: rem(1440px);

// Colors
$dark-blue: #4d96a9;
$light-blue: #8fe3f9;
$dark-purple: #855fb1;
$light-purple: #d9b8ff;
$black: #28283d;
$white: #fafafa;
$grey: #87879d;

// Typography
$font: 'Red Hat Display', sans-serif;
$regular: 500;
$bold: 900;

// Margins
$margin-sm: 1.5rem;