footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: rem(27px);
}

.footer__bg {
  position: absolute;
  z-index: -2;
  height: rem(428px);
}

.footer__bg--mobile {
  @include breakpoint(rem(400px)){
    display: none;
  }
}

.footer__bg--tablet {
  display: none;
  @include breakpoint(rem(400px)){
    display: block;
  }

}

.footer__blue-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(428px);
  background-color: $dark-blue;
  opacity: calc(100% - 10.45%);
}

.footer__container-txt {
  padding-top: rem(92px);
  margin: 0 $margin-sm 0 $margin-sm;
  color: $white;
  font-family: $font;
  text-align: center;
}

.footer__title {
  font-size: 2rem;
  line-height: rem(36px);
  font-weight: $bold;
  margin-bottom: 1.5rem;
}

.footer__description {
  font-weight: $regular;
  font-size: rem(18px);
  line-height: rem(26px);
  margin-bottom: 2rem;
}

.footer__btn-download.btn-download {
  background-color: $dark-purple;
  margin: 0 auto 0 auto;
}

.footer__btn-download .btn-download__v {
  color: $light-purple;
}
