.group-chat {
  margin: 3em auto 0 auto;
  max-width: rem(457px);
  @include breakpoint($sm-md) {
    margin-top: rem(72px);
  }
}

.group-chat__container-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font;
  text-align: center;
  margin-bottom: 2rem;
}

.group-chat__title {
  max-width: rem(275px);
  margin-bottom: 1.5rem;
  @include breakpoint($sm-md) {
    max-width: rem(339px);
  }
}

.group-chat__description {
  color: $grey;
}

.group-chat__container-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include breakpoint($sm-md){
    flex-direction: row;
    justify-content: center;
  }
}

.group-chat__btn-download {
  margin-bottom: 1rem;
  @include breakpoint($sm-md){
    margin: 0 1rem 0 0;
  }
}
