.group-chat {
  margin-top: 3em;
}

.group-chat__container-txt {
  font-family: $font;
  text-align: center;
  margin-bottom: 2rem;
}

.group-chat__title {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  line-height: rem(44px);
  color: $black;
  font-weight: $bold;
}

.group-chat__description {
  font-size: 1em;
  line-height: rem(26px);
  color: $grey;
  font-weight: $regular;
}

.group-chat__container-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-chat__btn-download {
  margin-bottom: 1rem;
}
