.hero {
    width: calc(100% + 10.4%);
    @include breakpoint($md){
        height: rem(303px);
        justify-content: space-between;
    }
    @include breakpoint($md-lg){
        height: clamp(0.1px, calc($lg - 100vw), rem(303px));
        margin-top: -0.1px;
    }
    @include breakpoint($lg){
    }

}

.hero__img {
    position: relative;
    right: calc(10.4% / 2);
    @include breakpoint($md){
        display: none;
    }
}

.hero__img-left {
    display: none;
    position: absolute;
    width: rem(394px);
    @include breakpoint($md){
        display: block;
        left: rem(-26px);
    }
    @include breakpoint($md-lg){
        display: block;
        left: -2rem;
    }
}

.hero__img-right {
    display: none;
    position: absolute;
    width: rem(394px);
    @include breakpoint($md){
        display: block;
        right: -2rem;
    }
}