.smarter {
  margin: 4em auto 0 auto;
  max-width: rem(calc(2 * 151px + 25px));
  @include breakpoint($md){
    max-width: none;
  }
}

.smarter__container-txt {
  font-family: $font;
  margin-top: 4em;
  text-align: center;
  @include breakpoint($md){
    margin: 3em auto 0 auto;
    width: rem(573px);
  }
  @include breakpoint($md-lg){
    margin-top: 5em;
    width: rem(540px);
  }

}

.smarter__subtitle {
  color: $dark-blue;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: $bold;
  line-height: rem(26px);
  letter-spacing: rem(4px);
  margin-bottom: 1.5rem;
}

.smarter__title {
    color: $black;
    margin-bottom: 2rem;
    @include breakpoint($md){
      width: rem(445px);
      margin-left: auto;
      margin-right: auto;
    }
}

.smarter__description {
  color: $grey;
}

.smarter__description--br::before {
  content: "\A";
  white-space: pre;
  @include breakpoint($md){
    white-space: normal;
  }
  @include breakpoint($md-lg){
    white-space: pre;
  }
}