.smarter {
  margin: 4em auto 0 auto;
  max-width: rem(calc(2 * 151px + 25px));
}

.smarter__container-txt {
  font-family: $font;
  margin-top: 4em;
  text-align: center;
}

.smarter__subtitle {
  color: $dark-blue;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: $bold;
  line-height: rem(26px);
  letter-spacing: rem(4px);
  margin-bottom: 1.5rem;
}

.smarter__title {
    color: $black;
    font-size: 2rem;
    line-height: rem(36px);
    font-weight: $bold;
    margin-bottom: 2rem;
}

.smarter__description {
    color: $grey;
    font-weight: $regular;
    font-size: 1rem;
    line-height: rem(26px);
}