/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
https://github.com/mbarker84/parcel-starter/blob/master/src/scss/02-base/_reset.scss
*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

svg {
  fill: currentColor;
}

.btn-download {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 900;
  color: #fafafa;
  border-radius: 1.8125rem;
  border: none;
  background-color: #4d96a9;
  padding: 1rem 2.5rem;
  width: 12.0625rem;
}

.btn-download__v {
  color: #8fe3f9;
  margin-left: 0.125rem;
}

.btn-what {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 900;
  color: #fafafa;
  border-radius: 1.8125rem;
  border: none;
  background-color: #855fb1;
  padding: 1rem 1.8125rem;
  width: 8.6875rem;
}

.separator {
  position: relative;
  width: 3.5rem;
  height: 8.75rem;
  margin: 4rem auto 0 auto;
}

.separator__vl {
  position: absolute;
  width: 50%;
  height: 100%;
  border-right: 1px rgba(135, 135, 157, 0.2509803922) solid;
}

.separator__circle {
  position: absolute;
  background-color: #fafafa;
  width: 3.5rem;
  height: 3.5rem;
  bottom: 0;
  border: 1px rgba(135, 135, 157, 0.2509803922) solid;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #87879d;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.625rem;
}

.main__wrapper {
  margin: 0 1.5rem;
}

.header {
  padding: 3rem 0 3.375rem 0;
  text-align: center;
}

.hero {
  width: 110.4%;
}

.hero__img {
  position: relative;
  right: 5.2%;
}

.group-chat {
  margin-top: 3em;
}

.group-chat__container-txt {
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  margin-bottom: 2rem;
}

.group-chat__title {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  line-height: 2.75rem;
  color: #28283d;
  font-weight: 900;
}

.group-chat__description {
  font-size: 1em;
  line-height: 1.625rem;
  color: #87879d;
  font-weight: 500;
}

.group-chat__container-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-chat__btn-download {
  margin-bottom: 1rem;
}

.smarter {
  margin: 4em auto 0 auto;
  max-width: 20.4375rem;
}

.smarter__container-txt {
  font-family: "Red Hat Display", sans-serif;
  margin-top: 4em;
  text-align: center;
}

.smarter__subtitle {
  color: #4d96a9;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.625rem;
  letter-spacing: 0.25rem;
  margin-bottom: 1.5rem;
}

.smarter__title {
  color: #28283d;
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.smarter__description {
  color: #87879d;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
}

.media-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 21.875rem) {
  .media-grid {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.media-grid__img {
  max-width: 9.4375rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
}

/*# sourceMappingURL=styles.css.map */
